<%= link_to("<< Back to List", sections_path(:page_id => @page.id)) %>
<div>
	<h2>Delete Section</h2>
	<%= form_for(@section, :url => section_path(@section ,:page_id => @page.id),:method => 'delete') do |f| %>
	 	<p>Are you sure you want to delete this section?</p>
	 	<%= @section.name %>

	 	<div>
	 		<%= f.submit("Delete Section") %>
	 	</div>

	<%end%>
</div>