<% @page_title = "New Section" %>
<%= link_to("<< Back to Section List", subject_page_sections_path(@subject, @page)) %>

<div>
	<%= form_for(@section, :url => subject_page_sections_path(@subject, @page)) do |f| %>

		<%= render(:partial => 'form', :locals => {:f => f}) %>
	
		<div>
			<%= f.submit("Create Page") %>
		</div>
	<% end %>
</div>