<%= link_to("<< Back to List", subject_pages_path(@subject)) %>
<div>
	<h2>Delete Page</h2>
	<%= form_for(@page, :url => subject_page_path(@page, @subject), :method => 'delete') do |f| %>
	 	<p>Are you sure you want to delete this page?</p>
	 	<%= @page.name %>

	 	<div>
	 		<%= f.submit("Delete Subject") %>
	 	</div>

	<%end%>
</div>