<% @page_title = "Edit "+@page.name+" Page" %>
<%= link_to("<< Back to Pages List", subject_pages_path(@subject)) %>

<div>
	<%= form_for(@page, :url => subject_page_path(@page, @subject)) do |f| %>
		
		<%= render(:partial => 'form', :locals =>{:f => f}) %>

	<%= f.submit("Edit Page") %>
	<% end %>
</div>