<% @page_title = "New Page" %>
<div>
	<%= form_for(@page, :url => subject_pages_path(@subject)) do |f| %>
		<%= render(:partial=>'form', :locals=>{:f=>f})%>
		<div>
			<%= f.submit("Create Page") %>
		</div>
	<% end %>
</div>