<% @page_title = "New Page" %>
<%= link_to("<< Back to List", subject_pages_path(@subject), :class => 'back-link') %>
<div class="pages new">
	<h2>Create Page</h2>
	<%= form_for(@page, :url => subject_pages_path(@subject)) do |f| %>
		<%= render(:partial=>'form', :locals=>{:f=>f})%>
		<div class="form-buttons">
	      <%= f.submit("Create Page") %>
	    </div>
	    <% Rails.logger.debug params.inspect %>
	<% end %>
</div>